.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0,0,0,.1)
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  left: 0;
  top: 0
}

.swiper-scrollbar-cursor-drag {
  cursor: move
}

.swiper-scrollbar-lock {
  display: none
}

.career-carousel .swiper-slide {
  width: 150px;
}
@media (min-width: 768px) {
  .career-carousel .swiper-slide {
    width: 200px;
  }
}
.career-carousel .swiper-wrapper {
  padding: 1px;
}
@media (min-width: 768px) {
  .swiper-container {
    padding-left: 65px !important;
  }
}
.swiper-container-horizontal .swiper-scrollbar {
  height: 10px;
  background: #222;
  max-width: 550px;
  width: 50%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  bottom: 0;
}
.swiper-container-horizontal {
  padding-bottom: 20px;
}
.swiper-scrollbar-drag {
  background: #373737;
}
.pagination {
  display: none;
}
@media (min-width: 768px) {
  .pagination {
    display: flex;
  }
}
.pagination .kb-focus {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.pagination--previous {
  background: linear-gradient(90deg, #191919 50%, transparent);
}
.pagination--next {
  background: linear-gradient(270deg, #191919 50%, transparent);
}
