$primary: #a3ff12;
$secondary: #5e627e;
$light: #fff;
$dark: #151720;
$white: #ececec;
$black: #333333;
$yellow: #ffff00;
$purple: #8a19ff;
$colorPrimary: $yellow;
$colorSecondary: $purple;

$yellow-2: #e1bd56;
$orange: #ff9900;
$gray: #ababab;
$gray-2: grey;
$red: #f44336;
$text: white;
$bg: #2a2935;
$color-1: #23a7b5;
$color-2: #3fa3c4;
$color-6: #111121;
$color-7: #444165;
$color-8: #353444;
$color-9: aquamarine;
$color-10: #38a9ab;
$color-11: #7db44b;
$color-12: #8d6c5a;
$color-13: #b08c00;
$color-14: #4c4c52;
$color-15: #F45831;
$color-16: cornflowerblue;
$color-17: #31d0aa;
$color-18: #333333;

/* ============ Breakpoints ============ */
$breakpoint-1200: 1200px;
$breakpoint-1000: 1000px;
$breakpoint-959: 959px;
$breakpoint-900: 900px;
$breakpoint-768: 768px;
$breakpoint-700: 700px;
$breakpoint-600: 600px;
$breakpoint-500: 500px;
$breakpoint-414: 414px;
$breakpoint-375: 375px;
$breakpoint-320: 320px;